@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

$font-main: 'Rubik', sans-serif;
$font-title: 'Ultra', serif;
$color-light: whitesmoke;
$color-border-glow: rgba(139, 92, 246, 0.2);
$bg-card: rgba(255, 255, 255, 0.02);

/*
$fuentePrincipal: Rubik;
$fuenteSecundaria: Ultra;
$colorFuentePrincila: whitesmoke;
$colorFondoBody: black;

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: $fuenteSecundaria;
color: $fuentePrincipal;
}*/


