@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;
// _footer.scss

/*footer {
    // Estilos para la etiqueta contenedora general <footer>
    
    h2 {
        font-family: 'Ultra', serif;
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        // Estilos específicos si el h2 tiene además la clase .foot (h2 class="foot")
        &.foot {
            font-family: 'Rubik', sans-serif;
            font-size: 0.9rem;
            // Al heredar el display flex del padre h2, ya se alinean solos
        }
    }

    // Navegación de redes sociales dentro del footer
    nav {
        .rs {
            list-style: none; // Desactiva los puntitos de la lista u/
            
            // Los íconos de las imágenes (img class="rrss") adentro de la lista
            .rrss {
                height: 8vh;
                width: auto;
                transition: transform 0.2s ease; // Un pequeño tip para suavizar si querés meter hover

                &:hover {
                    transform: scale(1.1); // Hace que el ícono crezca un poquito al pasar el mouse
                }
            }
        }
    }
}*/